<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-blue">
    <a class="navbar-brand" href="/">Início</a>

    <a class="navbar-brand" href="/politicos">Politicos</a>
  </nav>
  <div class="row">

    <div class="col">
    </div>

    <div class="col-6">
      <p>Carregar um CSV: </p>

      <%= form_tag({:action => :create}, :multipart => true) do %>
        <%= file_field_tag 'csv' %>
        <%= submit_tag "Submit", class: "btn btn-primary", id: "submit-create"%>
      <% end %>

      <p>Após o carregamento você será redirecionado.<p/>
    </div>

    <div class="col"></div>
  </div>
</div>
