<div class="container">
  <div class="row">

    <div class="col-7">
    <div class="card">
      <div class="card-header">
      Carregar um arquivo CSV de despesas dos políticos
      </div>
      <div class="card-body">
        <h5 class="card-title">Selecione um arquivo apenas no formato CSV</h5>

        <p class="card-text">
      <%= form_tag({:action => :create}, :multipart => true) do %>
        <%= file_field_tag :csv, accept: 'text/csv' %>
        <%= submit_tag "Submit", class: "btn btn-primary", id: "submit-create"%>
      <% end %>
        </p>
      </div>
        <div class="card-footer text-muted">
          Após o carregamento você será redirecionado.
        </div>
    </div>
    </div>

    <div class="col-5">

      <div class="card">
        <div class="card-header">
          Instruções
        </div>
        <div class="card-body">
          <p class="card-text">
            O arquivo deve conter o sequinte formato de header
          </p>
          <div class="card bg-light mb-3">
            <span>txNomeParlamentar;cpf;ideCadastro;sgUF;sgPartido;txtFornecedor;txtNumero;datEmissao;vlrLiquido;urlDocumento</span>
          </div>
             </div>
      </div>
    </div>
  </div>
</div>
