<% require 'pry' %>>
<table border="1">
  Politicos cadastrados(RJ):
  <% @politicos.each do |politico|%>
    <tr>
      <th>Foto: </th>
      <th>Nome: </th>
      <th>Partido: </th>
      <th>valor: </th>
    </tr>
    <tr>
      <td><%= image_tag("http://www.camara.leg.br/internet/deputado/bandep/#{politico[0]}.jpg",
                        style: 'height:auto; width:114px;') %></td>
      <td><%= politico[1] %></td>
      <td><%= politico[2] %></td>
      <td><%= politico[3] %></td>
    </tr>
  <% end %>
</table>
